
body {
    margin: 0 auto;
    padding: 0%;
    box-sizing: border-box;
    border: 0;
}
.cabeça{
    justify-content: space-between;
    margin-bottom: -3%;
    text-decoration: none;
}
.cabeça a{
    text-decoration: none;
}
#header li a#globo{
    color: rgb(6, 105, 222);
    font-weight: bolder;
}
#header li a#g1{
    color: rgb(196, 23, 12);
    font-weight: bolder;
}
#header li a#geH{
    color: rgb(6, 170, 72);
    font-weight: bolder;
}
#header li a#gsh{
    color: rgb(255, 103, 0);
    font-weight: bolder;
}
#header li a#globp{
    color: rgb(251, 3, 52);
    font-weight: bolder;
}
#header li a#cartola{
    color:  rgb(227, 103, 43);
    font-weight: bolder;
}
#header li a#sport{
    color: rgb(8, 5, 58);
    font-weight: bolder;
}
#header{
    display: inline-flex;
    list-style: none;
    padding-inline-start: 3%;
    justify-content:space-between ;
    text-decoration: none;
}
#header li{
    position: relative;
    display: inline-flex;
    padding-inline-start: 6%;
    font-size:15px;
    font-family: "Libre Franklin";
    font-weight: 80%;
    font-family: 'Poppins';
    margin-left: 4%;
    top: -5px;
    text-decoration: none;
}

#menu{
    color: #ffff;
    list-style: none;
    margin-top: 40px;
    padding-bottom: 0%;
    background-color:#000000;
}

#menu li{
    position: relative;
    display: inline-flex;
    padding-inline-start: 2.5%;
    font-size:14;
    font-family: "Libre Franklin";
    font-weight: 30%;
    justify-content:center ;
    top: -15px;

}

#menu li a{
    color: #ffff;
    display: inline;
    text-decoration: none;
    padding: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: "Poppins";
    font-weight: 500%;
    font-size: 16px;
}

#menu li a:hover{
    color: #ffff;
}
#menu li:last-child{
    justify-content: center;
    display: inline-flex;
    padding: 0px;
    padding-inline-start: 29.0%;
    font-size: 32px;
    font-family:"M PLUS 2", sans-serif;
    margin-top: 15px;
    top: -10px;
    text-align: center;
    font-weight: 300px;
}

.news-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    position: relative;
    margin-left: 18%;
}
.news-item{
    left: 10px;
    width: calc(50% - 10px);
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom:20px;
    padding: 3px;
    overflow: hidden;
    
    
}
.news-item img {
    width: 650px;
    height: 540px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    border-radius: 05px;
    filter: blur(1.5px);
    flex: 2;
  }

  .news-item h2 {
    justify-content: space-between;
    position: absolute;
    top: 440px;
    font-size: 22px;
    margin: 10px 0;
    padding-left: 7px;
    word-wrap:break-word;
    width: 350px; 
    font-family: "Libre Franklin" ;
    color: #f8f6f6;
    }
  .news-item p {
    top: 79%;
    margin: 10px 0;
    position: absolute;
    font-size: 18px;
    padding-left: 7px;
    color: rgb(255, 255, 255);
    font-family: "Libre Franklin";
    font-weight: 400 ;
    list-style-type:disc;
  }
  .news-item img#sec{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 40%;
    width: 500px;
    margin-right: 10%;
  }
  .news-item img#img2{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 42%;
    width: 500px;
    margin-right: 10%;
    right: 78px;
    margin-top: 45px;
  }
  .news-item img#img2:hover{
    -webkit-transform: scale(1);
    transform: scale(1.09);
    filter: blur(0px);
  }
  .news-item h2#SP{
    position: absolute;
    flex-direction: column;
    padding-bottom: 100%;
    justify-content: flex-start;
    top: 69%;
    font-size: 16px;
    color: #fff;
    word-wrap: break-word;
    width: 350px;
  }
  .news-item p #cla{

    padding: 0;
    top: 110%;
    font-family: "Libre Franklin";
    padding-left: 7px;
    color: #ffffff;
    list-style-type:disc;
    font-size: 15px;
  }
  .news-item img:hover{
    -webkit-transform: scale(1);
    transform: scale(1.09);
    filter: blur(0px);
  }
  .news-item img#sec:hover{
    -webkit-transform: scale(1.0);
    transform: scale(1.15);

  }
  .news-item h2#text2{
    position: absolute;
    flex-direction: column;
    padding-bottom: 100%;
    justify-content: flex-start;
    top: 27%;
    font-size: 16px;
    color: #fff;
    word-wrap: break-word;
    width: 250px;
  }
  .news-item p.para2{
    padding: 0;
    top: 34%;
    font-family: "Libre Franklin";
    padding-left: 7px;
    color: #ffffff;
    list-style-type:disc;
    font-size: 17px;
  }
iframe{
  margin-right: 500px;
  margin-top: 50px;
  justify-content: center;
}
#melhores{
  font-family: "Poppins";
}


















